.addToDoBox {
  position: relative;
}
.cancel-btn {
  position: absolute;
  right: 0px;
  background-color: red;
  border:none;
  color:white;
  height:30px;
  width:30px;
  font-size:18px;
  font-weight:600;
}
