.addToDoBox {
  position: relative;

}
.cancel-btn {
  background-color:red;
  width:25px;
  height:25px;
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
  position:absolute;
  right:10px;
  top:25px;
  color:white;
  cursor:pointer;
  z-index:1;
  border-radius:50%;
  padding:5px;
}
