.container {
  position: relative;
  min-height: 100vh;
  width: 100%;
 
}

.teal-glow {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-image: radial-gradient(125% 125% at 50% 90%, #ffffff 40%, #14b8a6 100%);
  background-size: 100% 100%;
}
